<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.putasovo.square" android:versionCode="6" android:installLocation="preferExternal" android:versionName="beta">
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="19" />
	<uses-configuration android:reqTouchScreen="finger" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<application android:label="Mighty Square" />
  [assembly: MetaData ("com.google.android.gms.games.APP_ID", Value="1064524306844")]
</manifest>