<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.putasovo.square" android:versionCode="14" android:installLocation="preferExternal" android:versionName="small is cute">
	<uses-sdk android:targetSdkVersion="30" />
	<uses-configuration android:reqTouchScreen="finger" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<application android:label="Mighty Square" android:icon="@drawable/Icon" />
  [assembly: MetaData ("com.google.android.gms.games.APP_ID", Value="1064524306844")]
</manifest>