<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crosslight.Xamarin.Android.Support.v4" version="23.1.1" targetFramework="monoandroid44" />
  <package id="Crosslight.Xamarin.GooglePlayServices.Base" version="27.0.0.1" targetFramework="monoandroid44" />
  <package id="Crosslight.Xamarin.GooglePlayServices.Basement" version="27.0.0.1" targetFramework="monoandroid44" />
  <package id="FirebaseDatabase.net" version="4.0.4" targetFramework="monoandroid11.0" />
  <package id="LiteDB" version="4.1.4" targetFramework="monoandroid11.0" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="monoandroid11.0" />
  <package id="System.Reactive" version="4.0.0" targetFramework="monoandroid11.0" />
  <package id="System.Reflection" version="4.3.0" targetFramework="monoandroid11.0" />
  <package id="System.Reflection.TypeExtensions" version="4.3.0" targetFramework="monoandroid11.0" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="monoandroid11.0" />
  <package id="Xamarin.Android.Support.v4" version="22.2.0.0" targetFramework="monoandroid44" />
  <package id="Xamarin.GooglePlayServices.Base" version="25.0.0.0" targetFramework="monoandroid44" />
  <package id="Xamarin.GooglePlayServices.Drive" version="25.0.0.0" targetFramework="monoandroid44" />
  <package id="Xamarin.GooglePlayServices.Games" version="25.0.0.0" targetFramework="monoandroid44" />
  <package id="Xamarin.GooglePlayServices.Location" version="25.0.0.0" targetFramework="monoandroid44" />
  <package id="Xamarin.GooglePlayServices.Maps" version="25.0.0.0" targetFramework="monoandroid44" />
</packages>